/* Start Cateogries Section */
.category-button {
    width: 45px;
    height: 45px;
}

.category-button i {
    font-size: large;
}

.man-running {
    background-color: #0FD878;
    border-radius: 850px 850px 120px 120px;
}

.categories_button {
    background-color: #0FD878;
    outline: none;
    border: none;
    color: white;
    text-shadow: 1px 2px 3px black;
    height: 40px;
}

.Green_Button_of_slider {
    background-color: #0FD878;
    color: white;
    border: none;
    height: 40px;
}

.White_Button_of_slider {
    background-color: white;
    color: #0FD878;
    border-color: #0FD878;
    height: 40px;
}

/* End Cateogries Section */

/* Start Contact Us Section */
.Fields_of_Contact_Us {
    border: 2px solid #0FD878;
    width: 17rem;
}

/* End Contact Us Section */

/* Start Media Query */
@media screen and (max-width:768px) {
    .reverse_direction {
        flex-direction: column-reverse;
        text-align: center;
    }

    .cart_icon {
        width: 21rem;
        background-color: #0FD878;
        opacity: 0.6;
    }
}

@media only screen and (min-width:599px) and (max-width: 991px) {
    .slider_left_space_for_small_devices {
        margin-left: 120px;
        margin-right: 30px;
    }

    .width_of_slider {
        width: 23rem;
    }

    .size_width {
        width: 24rem;
        margin-left: 20%;
    }
    .cart_icon {
        width: 21rem;
        background-color: #0FD878;
        opacity: 0.6;
    }
}

/* For Large Screens */
@media only screen and (min-width: 1080px) {
    .slider_left_space {
        margin-left: 160px;
    }

    .width_of_slider {
        width: 30rem;
    }

    .width_of_slider2 {
        width: 17rem;
    }

    .mid_section_of_slider2 {
        margin-left: 5rem;
    }

    .cart_icon {
        width: 31rem;
        background-color: #0FD878;
        opacity: 0.6;
    }
}

.second_section {
    background-color: #0FD878;
    border-bottom-left-radius: 500px 450px 0px 450px;
    opacity: 0.5;
}

/* End Media Query */